* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    color: #000;
    font-size: 14px;
    font-family: 'Frutiger', 'Raleway', 'Arial', sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    z-index: 201;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 10px;
}

.logo {
    margin-right: 20px;
    width: 100px;
    padding-bottom: 10px;
}

.logo a {
    text-decoration: none;
}

.logo img {
    max-width: 70%;
    height: auto;
    display: block;
    border: 0;
    padding-top: 14px; 
    padding-left: 20px;
}

.lang {
    padding: 0px; 
    line-height: 20px;
    border: 1px solid #2d3184;
    margin-right: 3%; 
    display: flex;
    float: right;
}

.lang-link {
    text-decoration: none;
    color: #2d318c;
}

.lang span {
    display: inline-block;
    width: 30px;
    text-align: center;
    height: 20px;
}

.active {
    background-color: #2d318c;
    color: white;
}

.search img {
    display: flex;
    margin-right: 15px;
    width: 30px;
    height: 30px;
}
.search input[type="text"] {
    width: calc(45% - 30px); 
    box-sizing: border-box;
    border: 2px solid rgb(73, 202, 245);
    border-radius: 4px;
    font-size: 10px;
    background-color: white;
    background-image: url(icons8-search-30.png);
    background-position: calc(40%% - 20px); 
    background-repeat: no-repeat;
    padding: 10px; 
    transition: width 0.4s ease-in-out;
}

.search input[type="text"]:focus {
    width: 100%;
}


.navbar {
    flex: 1;
    align-items: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: grey;
    font-weight: normal;
}

.navbar li a:hover {
    color: #2d318c;
}

span {
    margin-bottom: 0;
}

.banner {
    border-bottom-right-radius: 245px;
    z-index: -1;
}

#bankom {
    position: absolute;
    margin-top: -500px;
    margin-left: 550px;
    text-transform: uppercase;
    text-align: left;
    font-size: 3vw;
    font-weight: 600;
    line-height: 4.3vw;
    color: #fff;
}

#bendera {
    position: absolute;
    margin-top: -380px;
    margin-left: 780px;
    fill: none;
    display: flex;
    overflow: hidden;
    height: 2.8vw;
    width: 3vw;
}

#h3 {
    width: 80%;
    font-size: 3vw;
    font-weight: 600;
    color: #1870f0;
    text-align: left;
    line-height: 1.4;
    box-sizing: border-box;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.kombawah {
    height: 400px;
    border: 1px;
    overflow: visible;
    margin-left: 20%;
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
}

.vidback {
    width: 100%;
    margin-top: 0;
    padding: 0;
}

.video {
    position: relative;
    z-index: 1;
    width: 90%;
    height: 300px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: auto;
    margin-bottom:-150px ;
}

#bisnisback {
    background-image: url(bisnisback.png);
    padding: 300px;
    width: 100%;
    height: 2000px;
    display: block;
    position: absolute;
    overflow: visible;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(57, 57, 233);
}

#bisnis {
    margin-bottom: 15px;
    margin-top: -20px;
    padding-left: 100px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3; 
    color: white;
}

.bisnis-heading {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 1.4;
    color: #fff;
}

.bisnisgambar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 170%;
    justify-content: space-around;
    align-items: center;
    margin-left: -150px;
    margin-top: 50px;
}

.bisnisgambar img {
    width: 250px;
    border-radius: 16px;
    transition: transform 0.3s, filter 0.3s;
}

.bisnisgambar img:hover {
    transform: scale(1.1);
    filter: brightness(120%);
}

.bisnisgambar a {
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

.statistic {
    background-color: #185ec3;
    height: 500px;
    padding-top: 200px;
    padding-bottom: 120px;
    padding-right: 100px;
    padding-left: 1360px;
    margin-left: -500px;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.stanav {
    min-width: 35px;
    padding: 5px;
    margin: 0 1%;
    display: flex;
    text-align: center;
    background: none;
    color: #fff;
    font-weight: bold;
    margin-left: -1000px;
    margin-top: -150px;
}

.stanav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.stanav li {
    margin-right: 15px;
}

.stanav a {
    color: #fff;
}

.stanav a:hover {
    color: white;
}

.stamig {
    width: 100%;
    margin-left: -1050px;
}

.statex {
    color: #fff !important;
    font-family: sans-serif;
    font-weight: normal;
    text-align: left;
    line-height: 1.4;
    margin-left: -450px;
    margin-top: -200px;
}

.text {
    font-size: 16px;
    font-weight: 300;
    color: #5f5f5f;
    line-height: 0.8; 
}

.stasub {
    color: #15529e;
    background: #fff;
    transition: transform 0.2s;
    padding: 12px 27px 11px;
    font-size: 12px;
    box-sizing: border-box;
    border: 2px solid transparent;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    line-height: 1.42857143;
    user-select: none;
    margin-top: -10px;
    margin-left: -450px;
    border-radius: 14px;
}

.final1 {
    width: 70%;
    margin: 70px auto;
}

.iklan {
    background-color: #fff;
    padding-top: 200px;
    padding-bottom: 120px;
    padding-right: 100px;
    padding-left: 1363px;
    margin-left: -500px;
}

.iklan1 img {
    width: 800px;
    height: 400px;
    margin-left: -950px;
    margin-top: -150px;
    border-radius: 14px;
}

.gamfin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 170%;
    justify-content: space-around;
    align-items: center;
    margin-left: -270px;
    margin-top: -100px;
}

.gamfin img {
    width: 270px;
    border-radius: 16px;
    transition: transform 0.3s, filter 0.3s;
}

.gamfin a {
    color: #000000;
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
    padding-top: 10px;
    text-decoration: none;
}

.gamfin a:hover {
    color: #5f5f5f;
}

.finkom {
    width: 80%;
    font-size: 3vw;
    font-weight: 600;
    color: #1870f0;
    text-align: center;
    line-height: 1.4;
    box-sizing: border-box;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -650px;
    border: 1px solid white;
}

.row {
    box-sizing: border-box;
}

footer{
    width: 100%;
    margin: auto;
}
.footer1{
    padding-top:60px ;
    padding-bottom: 50px;
    background-color: #91bdde;
    width: 100%;
   margin: auto;
   text-align: center;
}
.footer1 .input input{
    height: 45px;
    line-height: 45px;
    margin-top: 16px;
    margin-bottom: 10px;
    padding: 0;
    background: 0;
    border-top: 0;
    border-left: none;
    border-right: 0;
    border-bottom: 1px solid rgba(255,255,255,0.37);
    font-size: 22px;
    font-weight: 800;
    text-transform: none;
    
}
.komfot1{
    font-size: 19px;
    text-align: center;
    padding-bottom: 10px;
    color: #15529e;
}
button{
    margin-left: 15px;
    background-color: #3e43a9;
    padding: 15px 40px 14px;
    font-size: 13px;
    color: #fff;
    background: #2d318c;
    border: 2px solid transparent;
    border-radius: 10px;
}
.footer2{
    background-color: #254484;
    height: 150px;
    padding-top: 100px;
}
.container-footer2{
    width: 80%;
    margin: auto;
}
.teks1{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
}
.teks1 a{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration:none;
    color: #aaa;
}

.teks1 a:hover{
    color:#eae8e8;
}

.teks1 a p{
    text-align: center;
    margin: 1px;
}
.teks2{
    margin-left:350px;
    text-align: center;
    display: flex;
    align-items: center;
}
.teks-1{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
}
.teks-1 a{
    text-decoration: none;
    color: #aaa;;
}
.teks-1 a:hover{
    color:#eae8e8;
}
.teks2 div{
    align-items: center;
    margin: 5px;
}
.soclog{
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.soclog img{
    width: 20px;
    margin-bottom: 30px;
    display: inline-block;
}
.soclog a{
    margin: 19px;
    width: 36px;
    height: 36px;
    line-height: 35px;
    text-align: center;
    color: #474747;
    transition: all .27s cubic-bezier(0.300,0.100,0.580,1.000);
}
.soclog a{
    text-decoration: none;
}
.fa-facebook {
    color: #fff;
}

    .fa-facebook:hover {
        color: #000;
    }

.fa-twitter {
    color: #fff;
}

    .fa-twitter:hover {
        color: #000;
    }

.fa-instagram {
    color: #fff;
}

    .fa-instagram:hover {
        color: #000;
    }

.fa-linkedin {
    color: #fff;
}

    .fa-linkedin:hover {
        color: #000;
    }

    #container {
        display: flex;
        justify-content: space-between;
        background-color: gold;
    }
    
    #container div {
        width: 30%;
        border: 1px solid #dedede;
        padding: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #container div img{
        padding-left: 20px;
        width: 300px;
        height: 200px;
    margin: 10px 0;
    
    }

  