* {
    box-sizing: border-box;
}

body {
    color: #000;
    font-size: 14px;
    font-family: frutiger, Raleway, arial, sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    z-index: 201;
    position: fixed;
    width: 100%;
}

.logo {
    margin-right: 20px;
}

.logo a {
    text-decoration: none;
}

.logo img {
    max-width: 70%;
    height: auto;
    display: block;
    border: 0;
    padding-top: -14pxpx;
    padding-left: 20px;
}

.navbar {
    flex: 1;
    align-items: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: grey;
    font: weight normal;
}
.navbar li a:hover{
    color:#2d318c;
}
